:root {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  min-height: 100vh;
  min-width: 100%;
}

.home {
  margin-top: 5%;
  max-width: 80%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: left;
  text-align: left;
  max-height: 100vh;
}

.display-heading {
  font-style: italic;
  font-size: 3.3rem;
  color: #c589e0;
}

.body-content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}
