@import "rehype-callouts/theme/github";

.readme {
  width: 80%;
  max-width: 1200px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  min-height: 100vh;
  margin: 10% auto;
}

.readme h1 {
  gap: 1rem;
}

.readme h1 img {
  height: 3rem;
  object-fit: cover;
}

.go-back,
.go-to-repo {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--main-accent-color-mauve);
  text-decoration: none;
}

.go-back .back-arrow,
.go-to-repo .repo-link {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.go-back:hover,
.go-to-repo:hover {
  background-color: transparent;
  color: var(--main-accent-color-peach);
}

.readme-body-content {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 100%;
}

.readme-body-content .readme-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* MARK: headings */
.readme-body-content h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--main-accent-color-mauve);
}

.readme-body-content h2,
.readme-body-content h2 a {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--main-accent-color-peach);
}

.readme-body-content h3,
.readme-body-content h3 a {
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: var(--main-accent-color-green);
}

/* MARK: line */
.readme-body-content hr {
  border-color: var(--main-accent-color-green);
  margin: 1rem 0;
}

/* MARK: text styles */
.readme-body-content strong {
  color: var(--main-accent-color-red);
  font-weight: 600;
}

.readme-body-content em {
  font-style: italic;
  color: var(--main-accent-color-sapphire);
}

/* MARK: images */
.readme-body-content img {
  max-width: 75%;
  height: auto;
  margin: 1rem 0;
}

/* MARK: checklists */
.readme-body-content .contains-task-list {
  list-style: none;
  padding-left: 0;
}

/* MARK: code!!! */
.readme-body-content code {
  color: var(--main-accent-color-green);
  background-color: var(--main-surface-color);
  padding: 0.2rem 0.4rem;
}

.readme-body-content pre {
  background-color: var(--main-surface-color);
  padding: 1rem;
  overflow-x: auto;
  margin-bottom: 1rem;
}

.readme-body-content pre code {
  background-color: transparent;
  padding: 0;
  color: var(--main-text-color);
}

/* MARK: link styles */
.readme-body-content a {
  color: var(--main-accent-color-mauve);
  text-decoration: none;
}

.readme-body-content a:hover {
  text-decoration: underline;
  background-color: transparent;
  box-shadow: none;
}

/* MARK: table styles */
.readme-body-content table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.readme-body-content table thead {
  border-top: 3px solid var(--main-accent-color-green);
  border-bottom: 1px solid var(--main-accent-color-green);
  padding: 0.75rem;
  text-align: left;
  background-color: var(--main-surface-color);
}

.readme-body-content table tbody tr:nth-child(odd) {
  background-color: var(--main-bg-color-secondary);
}

.readme-body-content table tbody tr:hover {
  background-color: var(--main-overlay-color);
}

.readme-body-content table tbody {
  border-bottom: 3px solid var(--main-accent-color-green);
}

@media (max-width: 768px) {
  .readme {
    margin-top: 15%;
  }
}
