.contact {
  width: 80%;
  max-width: 1200px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: left;
  text-align: left;
  min-height: 100vh;
}

.contact h1 {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--main-accent-color-green);
}

.contact h1 img {
  height: 3rem;
  object-fit: cover;
}

.contact-body-content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

.contact-contact-links {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contact-contact-links a {
  padding: 0.25em;
  text-decoration: none;
  /* cursor: url(), pointer; */
}

.social-link {
  padding: 0.1rem;
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
}

.email-span {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.5em;
}

.email {
  font-weight: 500;
  font-size: 0.8em;
  color: var(--main-accent-color-sapphire);
  text-decoration: none;
  cursor: url(), pointer;
}

.email:hover {
  text-decoration: underline wavy var(--main-accent-color-sapphire) 2px;
}

@media (max-width: 768px) {
  .contact {
    margin-top: 15%;
  }

  .email-span {
    flex-direction: column;
    gap: 0;
  }

  .contact-body-content {
    font-size: 1.3rem;
    margin-bottom: 50px;
  }
}
