.projects {
  width: 80%;
  max-width: 1200px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  min-height: 100vh;
}

.projects h1 {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--main-accent-color-green);
}

.projects h1 img {
  height: 3rem;
  object-fit: cover;
}

.projects-body-content {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 1rem;
  font-size: 1.5rem;
  width: 100%;
}

@media (max-width: 768px) {
  .projects {
    margin-top: 15%;
  }

  .projects-body-content {
    font-size: 1.3rem;
  }
}

/* loader */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loader {
  width: 120px;
  aspect-ratio: 1;
  --g: conic-gradient(
    from -90deg at 20px 20px,
    var(--main-accent-color-green) 90deg,
    #0000 0
  );
  background:
    var(--g),
    var(--g) 20px 20px,
    var(--g) 40px 40px;
  background-size: 50% 50%;
  animation: l15 1s infinite;
}

@keyframes l15 {
  90%,
  100% {
    background-position:
      -60px 60px,
      -40px 80px,
      -20px 100px;
  }
}
