.gallery {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15pt;
}
.gallery img {
  border-radius: 5px;
  transition: all 0.25s ease;
  user-select: none;
  width: 100%;
  max-width: 480px;
  height: auto;
  margin-bottom: 0;
}
.gallery img.loaded {
  opacity: 1;
}
.gallery img:hover {
  transform: scale(1.02);
  filter: none;
}
.gallery a:hover {
  color: var(--main-accent-color-rosewater);
  background-color: transparent;
  text-shadow: none;
  box-shadow: none;
}

@media (max-width: 2560px) {
  .gallery {
    --desktop-image-gap: 15pt;
    padding: 25px;
    display: block;
    column-count: 3;
    column-gap: var(--desktop-image-gap);

    flex-direction: initial;
    align-items: initial;
    gap: initial;
  }

  .gallery img {
    width: 100%;
    max-width: 100%;
    height: auto;
    filter: grayscale(50%);
    margin-bottom: var(--desktop-image-gap);
    break-inside: avoid-column;
  }

  .gallery img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
  }
}

@media (max-width: 667px) {
  .gallery {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15pt;

    column-count: initial;
    column-gap: initial;
  }

  .gallery img {
    width: 100%;
    max-width: 480px;
    height: auto;
    filter: none;
    margin-bottom: 0;
    break-inside: initial;
  }

  .gallery img:hover {
    transform: scale(1.02);
    filter: none;
  }
}
