footer {
  position: absolute;
  bottom: 0;
  background-color: color-mix(
    in srgb,
    var(--main-bg-color-secondary) 85%,
    transparent
  );
  backdrop-filter: blur(5px);
  color: white;
  padding: 20px;
  text-align: center;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer p {
  margin: 0;
  font-size: 1rem;
}
.fab {
  width: auto;
  height: 1.5rem;
  margin: 0 0.5rem;
  fill: white;
}
