@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@font-face {
  font-family: "Chillax-Variable";
  src:
    url("./fonts/Chillax-Variable/Chillax-Variable.woff2") format("woff2"),
    url("./fonts/Chillax-Variable/Chillax-Variable.woff") format("woff"),
    url("./fonts/Chillax-Variable/Chillax-Variable.ttf") format("truetype");
  font-weight: 450 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Synonym-Variable";
  src:
    url("./fonts/Synonym-Variable/Synonym-Variable.woff2") format("woff2"),
    url("./fonts/Synonym-Variable/Synonym-Variable.woff") format("woff"),
    url("./fonts/Synonym-Variable/Synonym-Variable.ttf") format("truetype");
  font-weight: 400 700;
  font-display: swap;
  font-style: normal;
}

:root {
  line-height: 1.5;
  font-weight: 300;
  font-family: "Synonym-Variable", "Noto Serif Display", sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #772da5;
  background: linear-gradient(
    -35deg,
    rgb(161, 141, 170) 0%,
    rgb(119, 45, 165) 10%,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 1) 100%
  );
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

.font-heading {
  font-family: "Chillax-Variable", "Noto Serif Display", sans-serif;
  font-weight: 700;
}
.font-display {
  font-family: "Noto Serif Display", serif;
  font-weight: 900;
}
.font-body {
  font-family: "Synonym-Variable", "Noto Serif Display", sans-serif;
  font-weight: 400;
}
/* For Firefox */
::-moz-selection {
  background: #772da5;
  color: white;
}

::selection {
  background: #772da5;
  color: white;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
